html
    include header.pug
    body(class= "full")
    
        form(action= room + "/settings", method= "POST" class= "settings")
            label(for= "name") Room settings
            div
                label(for= "name") Name
                input(id= "name" name= "name" value= user.name placeholder= "Name")
                label(for= "color") Messages color
                input(id= "color" type= "color" name= "color" value= user.color)
            button(type = "submit") Save 

            a(href= "/")
                img(src= "/favicon.ico")

    div(id= "chatbox")
        ul(id= "messages")
            each message in messages
                li(style= "background-color: " + message.user.color)
                    span= message.user.name + " "
                    span(class= "date")= message.time
                    p= message.body

    form(action= "", method= "POST", id= "mouth")
        div
            input(id= "m" name= "message" placeholder= "Type here" autocomplete= "off")
            button(type= "submit") Send 
