html
    title chatby
    
    link(rel='stylesheet', href='/style.css')

    meta(name= 'viewport', content= "width=device-width, user-scalable=no")
    meta(name= 'charset', content= 'utf8')
    meta(name= 'description', content= "Chat, made free.")

    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
    script(src='/client.js')