html
    include header.pug
    body
        h1 Hello! I'm chatby!
        em [chæt·bi] noun. Loginless, instant, accessible instant messaging on demand.
        p Just 
            a(href="!new") create a new link
            |  and invite your friends to chat with them.

        img(class="bodyimg" src="/favicon.ico" alt="chatby logo")

        h2 How do I work?
        p I provide instant messaging on demand. Random chat rooms with a unique link are generated where anyone with said link can join and participate. 
            | Users don't need to login and are anonymous.
            | Messages can't be deleted and there aren't admins or moderators.
            | Rooms can be accessed from any device.
            | Conversations aren't monitored.
        p I'm designed to easily provide chat channels for situations where it can be hard to do so. For instance, my creator made me because every mean to chat with a friend in China was unavailable at times.

        h2 How is this private? What's <em>loginless</em>?
        p Rooms aren't really private as anyone with the link can access to them, however it would take something more over <strong>3599 weeks</strong> to guess your room at 1 room per second. If this still concerns you, know that I don't keep track of any personal information about the users. Your messages aren't tied to you, but to a random, automatically generated, identity cookie stored in your browser.
        p On top of this simple architecture, I don't ask you for credentials! I like to talk of this behaviour as "loginless". Again, your browser acts as your only identifier. Cons of this? Not many as long as your identity cookie stays there!
        
        h2 How do I pronounce it?
        p Like "Gatsby".

        h2 Anything else?
        p You can check out my source code and fork me at 
            a(href="https://gitlab.com/wishiwasrubin/chatby") gitlab.com
            |  if you are interested in this project :)