:root {
    --enchanced: #f082ff;
}
body {
    max-width: 700px;
    margin: auto;
    padding: 1em;
    background: #f9f9f9;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body.full {
    max-width: 100%;;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
a {
    color: #f082ff;
}
img.bodyimg {
    max-height: 50vh;
    margin: auto;
    display: block;
}
.bold {
    font-weight: 600;
    color: var(--enchanced);
}
#chatbox {
    height: calc(100vh - 4em - 100px);
    padding: 1em;
    background: #fafafa;
    overflow-y: auto;
}
#messages {
    position: relative;
}
ul#messages {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}
ul#messages li {
    max-width: 700px;
    padding: 0.7em;
    margin: 0 1em 1em 0;
    display: inline-table;
    background-color: #333;
    border-radius: 4px;
    color: #fff;
}
ul#messages li span {
    font-size: 0.7em;
}
ul#messages li p {
    margin: 0.25em 0;
    padding: 0;
    font-size: 0.85em;
}
ul#messages li .date {
    color: #ffffff90;
    mix-blend-mode: hard-light
}
form {
    bottom: 0;
    height: calc(100px - 2em);
    margin: 0;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}
form input {
    display: block;
    width: 100%;
    padding: 0.6em;
    margin: 1em 0;
    color: #333;
    border-radius: 4px;
    border: none;
    background-color: #f082ff20;
    font-size: 1em;
}
form button {
    display: inline-block;
    padding: 0.6em;
    border-radius: 4px;
    border: none;
    background-color: #b548c4;
    color: #fff;
}
#mouth {
    display: flow-root;
}
.settings {
    height: 100vh;
    max-width: 300px;
    width: calc(100% - 2em);
    border-left: 1px solid #ccc;
    box-shadow: 0 0 4px #acacac;
    background-color: #f9f9f9;
    float: left;
}
.settings input {
    min-height: 40px;
}
.settings img {
    width: 50%;
    position: relative;
    bottom: 0;
    margin: auto;
    display: block;
}
@media only screen and (max-width: 599px) {
    .settings {
        max-width: 100vw;
        height: 2vh;
        top: 0;
        overflow: hidden;
        position: fixed;
        z-index: 999999;
        transition: height 1s;
    }
    .settings:focus-within {
        height: 100vh;
        transition: height 1s;
    }
    #chatbox {
        height: calc(98vh - 2em - 100px);
        margin: calc(2vh + 2em) 0 0 0;
    }
    ul#messages li {
        padding: 0.5em;
        margin: 0 1em 0.5em 0;
    }
    #mouth div {
        overflow: hidden;
    }
    #mouth input {
        width: calc(100% - 4em);
        display: inline-block;
        float: left;
        margin: 0;
    }
    #mouth button {
        display: inline-block;
        float: right;
        font-size: 1em;
    }
}